<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Restablecer Contraseña</title>
  <script>
    // Validar el formulario antes de enviarlo
    function validateForm(event) {
      event.preventDefault(); // Detener el envío del formulario inicialmente
      const newPassword = document.getElementById('newPassword').value;

      // Regex para validación de contraseña
      const passwordRegex = /^(?=.*[A-Z])(?=.*\d).+$/;
      if (!passwordRegex.test(newPassword)) {
        alert('La contraseña debe contener al menos una letra mayúscula y un número.');
        return false;
      }

      event.target.submit(); // Enviar el formulario si todo está bien
    }
  </script>
</head>
<body>
  <h1>Restablecer Contraseña</h1>

  <form action="/users/reset-password?token=<%= token %>" method="POST" onsubmit="return validateForm(event)">
    <div>
      <label for="newPassword">Nueva Contraseña:</label>
      <input type="password" id="newPassword" name="newPassword" required>
    </div>
    <button type="submit">Restablecer contraseña</button>
  </form>
</body>
</html>
