<h1>Restablecer Contraseña</h1>
<form action="/users/reset-password?token=<%= token %>" method="POST">
  <div>
    <label for="newPassword">Nueva Contraseña:</label>
    <input type="password" id="newPassword" name="newPassword" required>
  </div>
  <button type="submit">Restablecer contraseña</button>
</form>
